html {
      font-size: 22px
    }
body {
      background-color: #333;
      color: whitesmoke;
    }
a {
    color: cornflowerblue;
}

.padding1 {
    background-color: #046492;
    padding: 20px;
}
